.dashboard
    .module.mini-profile
        a.media(href="" + user.name).account-summary
            img.avatar.pull-left(src="../img/avatar.png")
            .media-body
                strong.fullname #{user.name}
                small.metadata View my profile page
        ul.stats
            - var Tweets = posts.filter(function(i){return i.user == user.name}).length
            li: a(href="" + user.name)
                strong #{Tweets}
                | 话题
            li: a(href="")
                strong 30
                | 收听
            li: a(href="")
                strong 30
                | 听众
        include say
.content-main
    .content-header: .header-inner: h2 全部广播
    .stream-container
        include  posts


