.dashboard
    .module.mini-profile
        a.media(href="" + user.name).account-summary
            img.avatar.pull-left(src="../img/avatar.png")
            .media-body
                strong.fullname #{user.name}
                small.metadata View my profile page
        ul.stats
            li: a(href="" + user.name)
                strong #{user.count}
                | 话题
            li: a(href="")
                strong 30
                | 收听
            li: a(href="")
                strong 30
                | 听众
        include say
.content-main
    include  posts


