.dashboard
    .module.mini-profile
        a.media(href="" + user.name).account-summary
            img.avatar.pull-left(src="../img/avatar.png")
            .media-body
                strong.fullname #{user.name}
                small.metadata 查看我的个人资料页
        ul.stats
            li: a(href="" + user.name)
                strong #{user.post_count}
                | 推文
            li: a(href="")
                strong 30
                | 正在关注
            li: a(href="")
                strong 30
                | 关注者
        include say
.content-main
    include  posts


