doctype 5
html
    head
        meta(charset="utf-8")
        title #{title} - microblog
        link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='bootstrap/css/bootstrap-responsive.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.css')
        link(rel='stylesheet', href='/stylesheets/twitter.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script
            navigator.userAgent.indexOf("Macintosh") !== -1 &&
                document.documentElement.classList.add("os_mac")
    body
        .navbar.navbar-inverse.navbar-fixed-top
            .navbar-inner
                .page-container
                    a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.brand(href='/') Microblog
                    .nav-collapse
                        mixin links(href,text)
                            li: a(href="/" + href) #{text}
                        ul.nav
                            li.active: a(href="/") 首页
                            if (!user)
                                +links("","登录")
                                +links("#toregister","注册")
                            else
                                +links("logout","登出")
                        if user
                            ul.nav.pull-right: li: a(href="" + user.name) #{user.name}
        #container.page-container
            .container-inner.clearfix
                block container
                block user
        footer
            .page-container
                a(href="http://t.qq.com/deathfang",target='_blank') 点这里
                |  2012
        script(src="/javascripts/jquery.min.js")
        script(src="/javascripts/util.js")
        script(src="/bootstrap/js/bootstrap.min.js")
        if error
            script
                tUtil.messagesTips("#{error}",2000,"alert-error")
        script(src="/javascripts/post.js")


