script
    $(".postlist .close").one("click",function(e){
        e.preventDefault()
        var post = $(this).parents(".span4");
        post.fadeTo("normal",0,function(){
            $(this).animate({width:"toggle",height:"toggle"},"normal",function(){
                post.remove();
                $.ajax({
                    url: "/del/" + post.attr("id")
                });
            })
        })
    })
