.tweet-box.tweet-user
    form.form-inlinecenter(method="post",action="/post")
        textarea(placeholder="来，说说你在做什么，想什么",name="post")
        .toolbar
            .tweet-button
                i.icon-spinner.icon-spin
                span.tweet-counter 140
                button.btn.disabled(type="submit",disabled) 广播


