form(method='post',action='/post',style='text-align:center').well.form-inlinecenter
    input(type='text',name='post').span8
    button(type='submit',style='margin:0 0 10px 10px').btn.btn-success
        i.icon-comment.icon-white
        | 发言