.tweet-box.tweet-user
    form.form-inlinecenter(method="post",action="/post")
        .textbox(contenteditable="true",spellcheck="true",role="textbox",aria-multiline="true",dir="ltr")
            div 撰写新推文...
        .toolbar
            .tweet-button
                i.icon-spinner.icon-spin
                span.tweet-counter 140
                button.btn.disabled(type="submit",disabled) 发推


