extends layout
block user
    .dashboard
        if user
            include say
    .content-main
        .content-header: .header-inner: h2 我的广播
        .stream-container
            include posts
