@orange:#f89406;
@link:#0084b4;
.opacity(@opacity) {
  opacity: @opacity / 100;
  filter: ~"alpha(opacity=@{opacity})";
}
.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}
.tab-focus(){
  border-color: rgba(82,168,236,0.8);
  outline: 0;
  outline: thin dotted \9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);            
}
.hide() {
    display: none;
}
.word-break(@word-break){
  -ms-word-break: @word-break;
    word-break: @word-break;
}
.mac_font(){
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3";
}
.default_font(){
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.os_mac {
  .mac_font();
  body {font-family: inherit}
  .mini-profile .stats a strong{.default_font()}
}
body{background-position:0 40px;background-attachment:fixed;background-repeat:repeat;background-repeat:no-repeat;background-image:url(../img/page_bg.png);}
.modal-enabled{width: 100%;height: 100%;overflow: hidden}
@media (min-width: 979px) {
  .container-inner {
        padding-top: 54px;
        padding-bottom: 15px;
    }
}
.page-container{width: 865px;margin-right: auto;margin-left: auto;}
#container{
  background:rgba(255,255,255,.3);
}
.container-inner{
  padding-left: 14px;
  padding-right: 14px;
}
footer{
  padding:20px 0;
}
.dashboard {
float: left;
width: 302px;
}
.content-main {
float: right;
width: 522px;
border-radius: 6px;
}
.content-header{
  border: 1px solid #eee;
  border: 1px solid rgba(0,0,0,.1);
  border-bottom-width: 0;
  border-radius: 6px 6px 0 0;
  background-clip: padding-box;
  .header-inner{
    min-height: 20px;
    padding: 12px;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 5px 5px 0 0;
    h2 {
      font-size: 16px
    }
  }
}
.module {
  position: relative;
  margin-bottom: 10px;
  line-height: 16px;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #eee;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 6px;
}
.avatar {
width: 48px;
height: 48px;
border-radius: 5px;
}
.hide[class^="icon-"], .hide[class*=" icon-"] {
  .hide()
}
.mini-profile{
  .media{
    font-size: 12px;
    min-height: 32px;
    &:hover{text-decoration: none;}
    .fullname{
      font-size: 14px;
      color: #333;
      display:block;
      &:hover{text-decoration: underline}
    }
    .avatar{width: 32px;height: 32px;}
    .metadata{
      font-size: 11px;
      color: #999;
    }
  }
  .stats{
    background-color: #f9f9f9;
    overflow: hidden;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    li{display: inline}
    li:first-child a{border-left:none;}
    a {
      float: left;
      color: #999;
      font-size: 10px;
      line-height: 16px;
      border-left: 1px solid #e8e8e8;
      padding: 7px 12px;
    &:hover,&:focus{text-decoration: none;color: #0084B4;}
      strong{
        display: block;
        color: #333;
        font-size: 14px;
      }
    &:hover strong{color: #0084B4;}
    }
  }
}
.account-summary{
  position: relative;
  display: block;
  min-height: 48px;
  background: #f9f9f9;
  padding: 12px;
  line-height: 16px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  .account-group-inner,.metadata {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.tweet-user {
padding: 10px 12px;
background-color: #f5f5f5;
border-radius: 0 0 5px 5px;
  .textbox{
    width: 258px;
    padding: 6px 8px 5px;
    line-height: 18px;
    height: 19px;
    color: #aaa;
    font-size: 13px;
    text-shadow: none;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    display: block;//用了inline-block后,横向区域可能都会focus
    &:focus{.tab-focus();}
    em{font-style: normal;background: #fcc;}
  }
  .toolbar{
    .hide();
    overflow:hidden;
    .icon-spinner{
      font-size: 16px;
      vertical-align: middle;
      margin-right: 3px;
      display:none;
    }
    .tweet-button{float:right;}
    .tweet-counter{
      display: inline-block;
      vertical-align: -3px;
      font-size: 14px;margin-right: 5px;
    }
  }
&.uncondensed{
  .textbox {
    color: #333;
    height: 80px;
    margin-bottom: 8px;
  }
  .toolbar{display:block;}
}
&.tweeting {
  .icon-spinner{
    display:inline;
  }
  .tweet-counter{
    .hide()
  }
}
}
.tweet-user .toolbar,.postlist .tweet-actions{
    .tweet-counter{
      color: #999;
      width: 35px;
      padding: 0 3px;
      text-align: right;
      text-shadow: 0 1px 1px rgba(255,255,255,.75);
      &.text-warn{color: #d40d12;}
    }
}
.postlist {
  margin-left: 0;
  [class^=icon-] {
    font-size: 14px;
    margin-right: 8px;
    width: auto;
    color:@link;
    &::after{
      content: attr(title);
      font-size: 12px;
      margin-left: 2px;
      vertical-align: 1px;
      .mac_font();
      -webkit-font-smoothing: auto;
    }
  }
  .media {
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
    background-color: #ffffff;
    background-clip: padding-box;
    &:hover{
      background-color: #f5f5f5;
      .tweet-actions {
        [class^=icon-]{
          .opacity(100);
        }
        [class^=icon-]:hover {
          &::after{
            text-decoration: underline;
          }
        }
      }
    }
    .tweet-actions {
      .tweet-counter{
        float: right;
        font-size: 12px;
      }
    }
    .post {
      p {
        padding-top: 2px;padding-bottom: 2px;
        border: 1px solid rgba(82,168,236,0);
        em{font-style: normal;background: #fcc;}
      }
     [contenteditable] {
       .transition(~"border linear .2s,box-shadow linear .2s");
       &:focus{
         background-color: #FFF;
         border-color: rgba(82, 168, 236, 0.8);
         outline: 0;
         outline: thin dotted \9;
        }
      }
      .modal{
        position: absolute;
        left: 40%;
        color: #FFF;
        padding: 6px 8px;
        // font-weight: bold;
        // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        width: auto;margin-left: 0;
        // background-color: #468847;
        text-shadow:0 -1px 1px rgba(0,0,0,.5);background:#111;background:rgba(20,20,20,.9);
box-shadow:0 2px 4px rgba(0,0,0,.25);text-overflow: ellipsis;font-size: 12px;
        &.fade{
          top:-50%;
        }
        &.fade.in{
          top:30%;
        }
      }
    }
  }
  .tooltip-arrow  {
    .hide()
  }
  .tooltip.in{
    .opacity(100);
  }
}
.postlist,.tweet-dialog{
  .media{
    margin-top: 0;
    padding: 9px 12px;
    line-height: inherit;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
    &.fast_hide{
      -webkit-transition-duration:  .4s;
      -moz-transition-duration:  .4s;
      -ms-transition-duration:  .4s;
      -o-transition-duration:  .4s;
      transition-duration:  .4s;
    }
    &.animate-hide{
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
      opacity: 0;
      visibility: hidden;
    }
    > a{
      .avatar{margin-top: 3px}
      .fullname{
        position: absolute;color: #333;
        margin-left: 58px;font-size: 14px;
      }
      &:hover .fullname{
        color: #0084b4;
        text-decoration: underline;
      }
    }
    .time{
      float: right;
      color: #999;
      font-size:12px;
      &:hover{color:#0084B4}
    }
    .post {
      margin-top: 16px;
      position: relative;
      p {
        word-wrap: break-word;
        white-space: pre-wrap;
      }
    }
  }
}
.stream-footer{
  .icon-spin{
    font-size: 32px;
  }
  .icon-twitter{
    font-size: 28px;
    color: #eee;
  }
}