.os_mac {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3";
}
.os_mac body {
  font-family: inherit;
}
body {
  background-position: 0 40px;
  background-attachment: fixed;
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-image: url(../img/page_bg.png);
}
.modal-enabled {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (min-width: 979px) {
  .container-inner {
    padding-top: 54px;
    padding-bottom: 15px;
  }
}
.page-container {
  width: 865px;
  margin-right: auto;
  margin-left: auto;
}
#container {
  background: rgba(255, 255, 255, 0.3);
}
.container-inner {
  padding-left: 14px;
  padding-right: 14px;
}
footer {
  padding: 20px 0;
}
.dashboard {
  float: left;
  width: 302px;
}
.content-main {
  float: right;
  width: 522px;
  border-radius: 6px;
}
.content-header {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-width: 0;
  border-radius: 6px 6px 0 0;
}
.content-header .header-inner {
  min-height: 20px;
  padding: 12px;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 5px 5px 0 0;
}
.content-header .header-inner h2 {
  font-size: 16px;
}
.module {
  position: relative;
  margin-bottom: 10px;
  line-height: 16px;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.avatar {
  width: 48px;
  height: 48px;
  border-radius: 5px;
}
.hide[class^="icon-"],
.hide[class*=" icon-"] {
  display: none;
}
.mini-profile .media {
  font-size: 12px;
  min-height: 32px;
}
.mini-profile .media:hover {
  text-decoration: none;
}
.mini-profile .media .fullname {
  font-size: 14px;
  color: #333;
  display: block;
}
.mini-profile .media .fullname:hover {
  text-decoration: underline;
}
.mini-profile .media .avatar {
  width: 32px;
  height: 32px;
}
.mini-profile .media .metadata {
  font-size: 11px;
  color: #999;
}
.mini-profile .stats {
  background-color: #f9f9f9;
  overflow: hidden;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.mini-profile .stats li {
  display: inline;
}
.mini-profile .stats li:first-child a {
  border-left: none;
}
.mini-profile .stats a {
  float: left;
  color: #999;
  font-size: 10px;
  line-height: 16px;
  border-left: 1px solid #e8e8e8;
  padding: 7px 12px;
}
.mini-profile .stats a:hover,
.mini-profile .stats a:focus {
  text-decoration: none;
  color: #0084B4;
}
.mini-profile .stats a strong {
  display: block;
  color: #333;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mini-profile .stats a:hover strong {
  color: #0084B4;
}
.account-summary {
  position: relative;
  display: block;
  min-height: 48px;
  background: #f9f9f9;
  padding: 12px;
  line-height: 16px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.account-summary .account-group-inner,
.account-summary .metadata {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tweet-user {
  padding: 10px 12px;
  background-color: #f5f5f5;
  border-radius: 0 0 5px 5px;
}
.tweet-user [name=post] {
  width: 258px;
  padding: 6px 8px 5px;
  line-height: 18px;
  height: 19px;
  color: #aaa;
  resize: none;
  font-size: 13px;
}
.tweet-user .toolbar {
  display: none;
  overflow: hidden;
}
.tweet-user .toolbar .icon-spinner {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 3px;
  display: none;
}
.tweet-user .toolbar .tweet-button {
  float: right;
}
.tweet-user .toolbar .tweet-counter {
  background-color: transparent;
  color: #999;
  display: inline-block;
  width: 35px;
  border: 0;
  padding: 0 3px;
  position: relative;
  vertical-align: top;
  top: 7px;
  text-align: right;
  font-size: 14px;
  margin-right: 5px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.tweet-user .toolbar .text-warn {
  color: #d40d12;
}
.tweet-user.uncondensed [name=post] {
  height: 80px;
  color: #333;
  margin-bottom: 8px;
}
.tweet-user.uncondensed .toolbar {
  display: block;
}
.tweet-user.tweeting .icon-spinner {
  display: inline;
}
.tweet-user.tweeting .tweet-counter {
  display: none;
}
.postlist {
  margin-left: 0;
  background: #FFF;
}
.postlist [class^=icon-] {
  font-size: 14px;
  margin-right: 8px;
  width: auto;
}
.postlist [class^=icon-]::after {
  content: attr(title);
  font-size: 12px;
  margin-left: 2px;
  vertical-align: 1px;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3";
  -webkit-font-smoothing: auto;
}
.postlist .media {
  border-bottom: 1px solid #e8e8e8;
}
.postlist .media:hover {
  background-color: #f5f5f5;
}
.postlist .media:hover .tweet-actions [class^=icon-] {
  opacity: 1;
  filter: alpha(opacity=100);
}
.postlist .media:hover .tweet-actions [class^=icon-]:hover {
  text-decoration: none;
}
.postlist .media:hover .tweet-actions [class^=icon-]:hover::after {
  text-decoration: underline;
}
.postlist .media .post p {
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid rgba(82, 168, 236, 0);
}
.postlist .media .post [contenteditable] {
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;
}
.postlist .media .post [contenteditable]:focus {
  background-color: #FFF;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
}
.postlist .media .post .modal {
  position: absolute;
  left: 40%;
  color: #FFF;
  padding: 6px 8px;
  border-radius: 3px;
  width: auto;
  margin-left: 0;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
  background: #111;
  background: rgba(20, 20, 20, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  text-overflow: ellipsis;
  font-size: 12px;
}
.postlist .media .post .modal.fade {
  top: -50%;
}
.postlist .media .post .modal.fade.in {
  top: 30%;
}
.postlist .tooltip-inner {
  background-color: #f89406;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.postlist .tooltip-arrow {
  display: none;
}
.postlist .tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.postlist .media,
.tweet-dialog .media {
  margin-top: 0;
  padding: 9px 12px;
  line-height: inherit;
}
.postlist .media > a .avatar,
.tweet-dialog .media > a .avatar {
  margin-top: 3px;
}
.postlist .media > a .fullname,
.tweet-dialog .media > a .fullname {
  position: absolute;
  color: #333;
  margin-left: 58px;
  font-size: 14px;
}
.postlist .media > a:hover .fullname,
.tweet-dialog .media > a:hover .fullname {
  color: #0084b4;
  text-decoration: underline;
}
.postlist .media .time,
.tweet-dialog .media .time {
  float: right;
  color: #999;
  font-size: 12px;
}
.postlist .media .time:hover,
.tweet-dialog .media .time:hover {
  color: #0084b4;
}
.postlist .media .post,
.tweet-dialog .media .post {
  margin-top: 16px;
  position: relative;
}
.postlist .media .post p,
.tweet-dialog .media .post p {
  word-wrap: break-word;
  white-space: pre-wrap;
}
